.home .welcome article {
	margin: 20px 0;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.home .welcome article h1 {
	font-size: 1.5rem;
	margin-bottom: 5px;
}

.home .welcome article p {
	font-size: 1.2rem;
	line-height: 1.6;
}
