@import url('https://fonts.googleapis.com/css2?family=Lusitana&family=Raleway&display=swap');
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #4386ce;
	--dark-color: #185a9d;
	--success-color: #28a745;
}

body {
	min-height: 100vh;
	background: radial-gradient(var(--primary-color), var(--dark-color)) no-repeat;
	color: #fff;
	font-family: 'Lusitana', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	margin: auto;
	max-width: 1100px;
	padding: 15px 22px;
}

.btn {
	cursor: pointer;
	border: 0;
	padding: 8px 14px;
	outline: none;
	font-weight: 400;

	&-green {
		background-color: var(--success-color);
		color: #fff;

		&:hover {
			background-color: darken(#28a745, 10%);
		}
	}

	&-rounded {
		border-radius: 5px;
	}

	&:disabled {
		background-color: #676666;
	}
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}
